//! **************************************************************************
// Written by: Map P.20131013 on Fri Jan 18 18:36:10 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Uart_Rx" LOCATE = SITE "P9" LEVEL 1;
COMP "Uart_Tx" LOCATE = SITE "P10" LEVEL 1;
COMP "Sys_CLK" LOCATE = SITE "P36" LEVEL 1;
COMP "Sys_RST" LOCATE = SITE "P11" LEVEL 1;
COMP "COM<0>" LOCATE = SITE "P26" LEVEL 1;
COMP "COM<1>" LOCATE = SITE "P27" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P79" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P84" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P85" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "P12" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "P24" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "P22" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "P16" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "P18" LEVEL 1;
COMP "SEG<7>" LOCATE = SITE "P23" LEVEL 1;
COMP "Key<0>" LOCATE = SITE "P2" LEVEL 1;
COMP "Key<1>" LOCATE = SITE "P3" LEVEL 1;
COMP "Switch<0>" LOCATE = SITE "P32" LEVEL 1;
COMP "Switch<1>" LOCATE = SITE "P33" LEVEL 1;
NET "Sys_CLK_BUFGP/IBUFG" BEL "Sys_CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

